<launch>
	<node pkg="hybrid_exploration" type="hybrid_bumper_hit" name="hybrid_bumper_hit" />
	<node pkg="hybrid_exploration" type="hybrid_odometry_on_map" name="hybrid_odometry_on_map" respawn="true" />
	<node pkg="hybrid_exploration" type="hybrid_odom_support" name="hybrid_odom_support" />
	<node pkg="hybrid_exploration" type="hybrid_tf_odom2map" name="hybrid_tf_odom2map" respawn="true" />
	<node pkg="hybrid_exploration" type="hybrid_tf_odom2map_support" name="hybrid_tf_odom2map_support" />
	<node pkg="hybrid_exploration" type="hybrid_odom_marker" name="hybrid_odom_marker" />
	<node pkg="hybrid_exploration" type="hybrid_only_new_sensor_based_exploration" name="hybrid_only_new_sensor_based_exploration" output="screen" />
</launch>
